@import "../../theme.scss";

.toggle-field
{
  background: $container-color;
  padding-bottom: 30px;
  padding-top: 30px;

  .mdc-grid-tile
  {
    width: 142px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: $container-color;

    .mdc-button
    {
      width: 100%;
      height: 100%;
      line-height: 18px;
    }
  }
}