.toggle-field
{
  .mdc-grid-tile
  {
    width: 142px;
    padding-left: 5px;
    padding-right: 5px;
    .mdc-button
    {
      width: 142px;
      height: 64px;
      line-height: 18px;
    }
  }
}