@import "../../theme.scss";

main.mdc-toolbar-fixed-adjust
{
  margin-top: 113px;
}

.mdc-button._mdc-button-alternate
{
  color: white;
  background-color: $mdc-theme-primary-light;
}

.circle
{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

._mdc-toolbar__sub-section
{
  align-items: center;
  max-width: 290px;

  .circle
  {
    position: relative;
    font-weight: 900;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background-color: white;
  }

  .circle.center
  {
    background-color: $mdc-theme-primary;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    margin-top: 4px;
  }

  i
  {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 900;
    font-size: 20px;
  }
}

._mdc-toolbar__sub-section.incomplete
{
  $color: lighten($mdc-theme-primary-light, 10);

  color: $color;

  .circle
  {
    background-color: $color;
  }
}

._mdc-toolbar__sub-section.complete
{
  color: lighten($mdc-theme-primary-light, 10);

  .circle
  {
    background-color: desaturate($mdc-theme-primary, 25);
    color: lighten($mdc-theme-primary-light, 17);
  }
}

.mdc-toolbar__section
{
  .mdc-toolbar__title
  {
    margin: 0;
    align-self: center;

    img
    {
      max-width: 128px;
    }
  }
}

@media (max-width: 580px) {

  ._mdc-toolbar__sub-section.complete,
  ._mdc-toolbar__sub-section.incomplete
  {
    display: none;
  }

  .circle
  {
    display: none;
  }
}

.stepper-container
{
  background-color: $mdc-theme-primary-light;
  justify-content: center;
}

.mdc-toolbar--flexible {
  --mdc-toolbar-ratio-to-extend-flexible: 1;
}

.mdc-toolbar__row:first-child::after {
  // background-size: cover;
  // background: url("/top_bar.png") center;
}

