@import "theme.scss";

html {
  color: $mdc-theme-text-primary-on-light;
}

body {
  margin: 0;
  background-color: $container-color;
}

.app {
  background-color: white;
  padding: 8px 8px 32px;
}

.mdc-text-field
{
  width: 100%;
}

.de-emphasized
{
  color: lighten($mdc-theme-text-primary-on-light, 35);
}

// This is a fix for some weird inclusion order bug
.mdc-select:not(.mdc-select--disabled)
{
  .mdc-select__surface:focus
  {
    .mdc-select__label
    {
      color: $mdc-theme-primary;
    }
  }
}

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--textarea).mdc-text-field--invalid
{
  background-color: transparentize($mdc-theme-primary, .9);
}

.mdc-select--box
{
  margin-top: 16px;
  margin-bottom: 8px;
  width: 100%;
}

main
{
  max-width: 768px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  main
  {
    padding-bottom: 64px;
  }
}

.submit-error
{
  background-color: #ececec;
  padding: 5px 25px 25px;

  .frame {
    font-size: 18px;
    color: #a0a0a0;
  }

  .error {
    color: #7b7b7b;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}