@import "../node_modules/@material/theme/variables";

html {
}

.app {

}

.mdc-text-field
{
  width: 100%;
}

.mdc-select--box
{
  margin-top: 16px;
  margin-bottom: 8px;
  width: 100%;
}

.mdc-toolbar--flexible {
  --mdc-toolbar-ratio-to-extend-flexible: 0;
}

main
{
  max-width: 768px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  main
  {
    padding-bottom: 64px;
  }
}

