
@import "../node_modules/@material/theme/variables";

html {
}

.app {

}

.mdc-text-field
{
  width: 100%;
}

.mdc-select--box
{
  margin-top: 16px;
  width: 100%;
}

.mdc-toolbar-fixed-adjust
{
  margin-top: 128px;
}

.mdc-button._mdc-button-alternate
{
  color: white;
  background-color: $mdc-theme-primary-light;
}

.circle
{
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.stepper-container
{
  background-color: $mdc-theme-primary-light;
}

footer
{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $mdc-theme-background;
  width: 100%;
}